.container {
   display: flex;
   justify-content: space-between;
   background: var(--blue);
   height: 100vh;
   color: #fff;
}

.leftContainer {
   flex: 1;
   display: flex;
   align-items: center;

   background: url('/login-img.svg') no-repeat left;
   background-size: 90%;
}

.rightContainer {
   width: 45%;

   display: flex;
   flex-direction: column;
   
   justify-content: center;
   align-items: flex-start;
}

.rightContainer > img {
   max-width: 22rem;
   padding-bottom: 96px;
}

.rightContainer strong {
   font-weight: 600;
   font-size: 2.25rem;
   padding-bottom: 24px;
}

.rightContainer > div {
   display: flex;
   align-items: center;
   padding-bottom: 40px;
}

.rightContainer > div p {
   max-width: 230px;
   color: var(--text-highlight);
   font-size: 1rem;
}

.rightContainer button {
   display: flex;
   align-items: center;

   width: 420px;

   margin-bottom: 15px;
   border-radius: 5px;

   border: 2px solid #4852ad;
   padding: 15px 18px;

   font-size: 15px;
   background: none;
   color: var(--white);

   outline: none;

   background-image: linear-gradient(to right, var(--blue-dark), #4953b833);

   transition: border 0.1s linear;
}

.rightContainer button:hover {
   border: 2px solid var(--green);
}

.rightContainer button p {
   color: var(--text-highlight);
   padding-left: 30px;
}